.container {
  width: 100%;

  @media (min-height: $screen-lg-height) and (min-width: $screen-md-min) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
    z-index: 3;
  }
}

.widget {
  background: #fff;
  display: inline-block;
  width: 100%;
  color: #000;
  padding: 10px 0px 15px 0;
  border-radius: 6px;
  text-align: left;

  @media (min-width: $screen-md-min) {
    padding: 36px 75px 35px;
  }
}

.submit {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  margin-top: 15px;
}

.info.info.info {
  color: $gray;
  font-size: 12px;

  @media (min-width: $screen-md-min) {
    margin-top: 13px;
    float: left;
  }
}

.infotc.infotc.infotc {
  color: $gray;
  font-size: 12px;
  width: 100%;
  margin-top: 15px;

  @media (min-width: $screen-md-min) {
    margin-top: 13px;
    float: left;
  }
}

.btn.btn.btn {
  width: 100%;
  height: 48px;
  font-size: 12px;
  margin: 0;
  cursor: pointer;

  @media (min-width: $screen-md-min) {
    float: right;
    width: auto;
  }
}
