.container {
    display: flex;
    padding: 0 !important;

    div {
        flex: 1;
        margin-bottom: 10px;
        border-style: solid;
        border-width: 0px 2px 2px 0px;
        border-radius: 0px 0px 6px 4px;
        text-align: center;
        cursor: pointer;

        h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            color: lighten( $grey, 30% );
        }

        border-color: lighten( $grey, 30% );
        &.active {
            cursor: auto;
            box-shadow: 0px 10px 10px -14px;
            border-color: $grey;
            h3 {
                color: $grey;
            }
        }
    }

    .basic {
        @media (max-width: $screen-md-min) {
            margin-left: 10px
        }
    }

    .pro {
        @media (max-width: $screen-md-min) {
            margin-right: 10px
        }
    }
}