.label.label.label {
  margin-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: $gray;

  @media (min-width: $screen-md-min) {
    margin-bottom: 36px;
  }
}

.input.input.input {
  padding: 0 0 15px 120px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.minmax {
  margin: -2px 0 50px 0;

  p {
    font-size: 11px;
    color: #9c9c9c;
    float: left;
    margin: 3px 15px 0 0;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
      margin-right: 15px;
    }

    @media (min-width: $screen-md-min) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
