.label.label.label {
  margin-bottom: 36px;
  font-size: 12px;
  text-transform: uppercase;
  color: $gray;
}

.input.input.input {
  padding: 0 0 15px 120px;
  font-size: 18px;
  font-weight: 400;
}
