{
  "extends": "react-app",
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-undef": 0,
    "import/no-webpack-loader-syntax": 0,
    "max-len": [2, 140, 4, { "ignoreUrls": true }],
    "no-script-url": 0
  }
}
