.faqs {
  float: none !important;
  display: inline-block;
  margin-top: 60px;
  border-radius: 14px;
  background-color: white;
  color: $black;

  @media (max-width: $screen-md-min) {
    padding: 20px !important;
  }
  @media (min-width: $screen-md-min) {
    padding: 40px !important;
  }

  .notfound {
    h3 {
      margin-top: 0;
    }

    a {
      cursor: pointer;
    }
  }
  
  form {
    .input {
      position: relative;
    
      i {
        color: $gray;
        position: absolute;
        left: 0px;
        top: 2px;
        font-size: 26px;
      }
    
      input {
        font-size: 26px !important;
        margin-bottom: 26px !important;
        padding-left: 32px !important;
      }
    
      input::-webkit-input-placeholder { /* WebKit browsers */
        font-size: 26px !important;
      }
    
      input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 26px !important;
      }
    
      input::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 26px !important;
      }
    
      input:-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size: 26px !important;
      }
    }    
  }
}

