.container {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
  
  a {
    color: inherit;
    cursor: pointer;
  }
  
  @media (min-height: $screen-lg-height) and (min-width: $screen-md-min) {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

.row {
  display: inline-block;
}

.coin-price {
  float: left;
  width: 33.33%;
  text-align: left;
  
  h5 {
    margin: 30px 0 0 0;
    font-size: 12px;
  }

  h6 {
    margin: 6px 0 0 0;
    font-size: 15px;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }

  &.up {
    .arrow {
      background: url('../../../../img/price-up.svg');
    }

    h6 {
      color: $green;
    }
  }

  &.down {
    .arrow {
      background: url('../../../../img/price-down.svg');
    }

    h6 {
      color: #e25656;
    }
  }

  @media (min-width: $screen-ms-min) {
    width: 25%;
  }

  @media (min-width: $screen-md-min) {
    width: 11.1%;
  }
}

.arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
