.container {
    display: flex;
    padding: 4px 0px;
    margin: 2px 0px;
    a {
       flex: 1; 
       font-weight: bold;
    }
}

.SELL {
    a {
        color: $red;
    }
}

.BUY {
    a {
        color: $green;
    }
}