.container {
  padding: 40px 0 35px;
  background-color: #01031e;
  background-image: url('Img/ellipse.svg');
  background-position: 50% 50%;
  background-size: 90%;
  background-repeat: no-repeat;
  color: #fff;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 50px;
  }

  @media (min-width: $screen-md-min) {
    padding-bottom: 60px;
  }

  h2 {
    margin: 0 0 6px 0;
    font-size: 25px;

    @media (min-width: $screen-md-min) {
      font-size: 36px;
    }
  }

  h3 {
    margin: 0;
    font-size: 14px;

    @media (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }
}

.input.input.input.input {
  margin-top: 60px;
  padding: 0 0 15px 0;
  font-size: 12px;
  color: #fff;

  @media (min-width: $screen-sm-min) {
    margin-top: 75px;
  }

  &::-webkit-input-placeholder {
    color: #fff;
    font-size: 12px;
  }

  &::-moz-placeholder {
    color: #fff;
    font-size: 12px;
  }

  &:-ms-input-placeholder {
    color: #fff;
    font-size: 12px;
  }

  &:-moz-placeholder {
    color: #fff;
    font-size: 12px;
  }
}

.btn.btn.btn {
  @media (min-width: $screen-sm-min) {
    position: absolute;
    bottom: 29px;
    right: 0;
    margin: 0;
    padding: 7px 15px;
  }
}

.message {
  p {
    font-size: 14px;
    margin: 0;
  }
}

.group {
  @media (min-width: $screen-lg-min) {
    padding: 0 100px;

    .btn.btn.btn {
      right: 100px;
    }
  }
}
