.title {
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
    

    .card {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 0px 40px -30px;
        padding: 20px;

        @media (max-width: $screen-md-min) {
            margin: 20px 0;
        }

        .card-section {
            display: flex;
            flex-direction: row;
            img {

            }
            .label {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .gray {
                color: $gray;
            }
        }

        .arrow {
            img {
                height: 50px;
                margin-left: 30px;
                transform: rotate(180deg);
            }
        }
    }
}