.container {
  text-align: center;
  padding-bottom: 5px;
}

.title {
  margin: 18px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  color: $black;

  span {
    color: $gray;
  }
}

.subtitle {
  margin: 12px 0;
  font-size: 14px;
  font-weight: 400;
  color: $blue;

  a {
    font-weight: 500;
    color: $blue;

    &:hover {
      color: $blue;
    }
  }
}

.warning {
  margin: 15px 0 0 0;
  color: $green;
  font-weight: 500;
  cursor: pointer;
}

.another-order.another-order {
  display: inline-block;
  color: $green;
  font-weight: 500;
  margin: 15px 0 8px 0;

  &:hover {
    color: $green;
    text-decoration: none;
  }
}

.new-order-link.new-order-link {
  color: $green;

  &:hover,
  &:active,
  &:focus {
    color: $green;
    text-decoration: none;
  }
}

.status {
  p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: $blue;

    b {
      font-weight: 500;
      color: $blue;
    }
  }
}

.btn.btn.btn {
  color: $green;
  background-color: #fff;
  border: 1px solid $green;
  padding: 8px 10px;
  margin: 10px 0;
  font-size: 14px;
  width: 100%;
  white-space: normal;

  &:hover {
    box-shadow: none;
  }

  &:focus,
  &:hover,
  &:active {
    color: $green;
    background-color: #fff;
    border: 1px solid $green;
  }

  @media (min-width: $screen-sm-min) {
    margin: 10px;
    max-width: 280px;
  }
}
