.hero {
  position: relative;
  padding: 0 0 75px 0;
  height: 100vh;
  background-color: #01031e;
  background-image: url('../../../img/ellipse.svg');
  background-position: -50% 50%;
  background-size: auto 200%;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#hero {
  h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 26px;
  }
  .brand {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  @media (min-width: $screen-sm-min) {
    padding: 0 0 75px;
    .brand {
      padding-top: 40px;
    }
    .alert {
      position: absolute;
    }
    h2 {
      font-size: 34px;
    }
  }
}
