.hero {
    position: relative;
    z-index: 2;
    padding: 0 0 125px 0;
    text-align: center;
    color: #fff;
    background: -moz-linear-gradient(45deg, rgba(2, 3, 31, 1) 0%, rgba(2, 3, 31, 1) 44%, rgba(26, 157, 139, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      color-stop(0%, rgba(2, 3, 31, 1)),
      color-stop(44%, rgba(2, 3, 31, 1)),
      color-stop(100%, rgba(26, 157, 139, 1))
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      45deg,
      rgba(2, 3, 31, 1) 0%,
      rgba(2, 3, 31, 1) 44%,
      rgba(26, 157, 139, 1) 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(2, 3, 31, 1) 0%, rgba(2, 3, 31, 1) 44%, rgba(26, 157, 139, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(2, 3, 31, 1) 0%, rgba(2, 3, 31, 1) 44%, rgba(26, 157, 139, 1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(2, 3, 31, 1) 0%, rgba(2, 3, 31, 1) 44%, rgba(26, 157, 139, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A9D8B', endColorstr='#02031f',GradientType=1 ); /* ie6-9 */
  
    @media (min-height: $screen-lg-height) and (min-width: $screen-md-min) {
      min-height: 100vh;
    }
  
    @media (min-width: $screen-md-min) {
      background-color: #01031e;
      background-image: url('../../img/ellipse.svg');
      background-position: 130% 50%;
      background-size: 150%;
      background-repeat: no-repeat;
    }
  }