.input {
    margin-top: 5px;
    padding: 0 0 15px 0;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    box-shadow: 0px 0px !important;
    -webkit-box-shadow: 0px 0px !important;
    outline: 0;
    border-color: transparent;
    background-image: none;
}

.values-preview-container {
    height: 22px;
    .values-preview {
        display: flex;
        flex-direction: column;
        span {
            flex: 1;
            color: $grey;
            font-size: 12px;
        }
    }
}