.input.input.input {
  margin-top: 5px;
  padding: 0 0 15px 0;
  font-size: 12px;
  font-weight: 400;
  color: $black;

  @media (min-width: $screen-md-min) {
    margin-top: 15px;
  }

  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: $black;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    color: $black;
  }

  &::-ms-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    color: $black;
  }
}
