.videoContainer {
  position: relative;
  text-align: left;
  min-height: 70vh;
  background-color: #01031e;
  background-image: url('Img/ellipse.svg');
  background-position: 50% 50%;
  background-size: 90%;
  background-repeat: no-repeat;
  color: #FFF;
  
  @media screen and (min-width: 1040px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}