.header {
  position: absolute;
  width: 100%;
  padding: 15px;
  height: 70px;
  color: #fff;
  z-index: 3;
  background: #fff;

  :global .navbar-toggle {
    border: 1px solid $gray;
    margin-top: 2px;
    margin-right: 0;

    :global .icon-bar {
      background: $gray;
    }
  }

  :global .navbar-nav {
    margin-top: 0;
    padding: 0 15px;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -6px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    z-index: 9999;

    @media (min-width: $screen-sm-min) {
      background: transparent;
      box-shadow: none;
      border: none;
    }
  }
}

.header.home,
.header.faqs {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;

  :global .navbar-toggle {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 2px;

    :global .icon-bar {
      background: rgba(255, 255, 255, 0.5);
    }
  }

  @media (min-height: $screen-lg-height) and (min-width: $screen-md-min) {
    padding: 30px 15px;
  }

  .link {
    @media (min-width: $screen-sm-min) {
      color: #fff;
    }
    a {
      @media (min-width: $screen-sm-min) {
        color: #fff;
      }
      @media (max-width: $screen-sm-min) {
        color: #000;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .social.social.social.social {
    @media (min-width: $screen-sm-min) {
      color: #fff;
    }
  }
}

.icon-bar {
  background: #000;
}

.navbar-nav {
  margin: 0;
  li a.link:hover {
    text-decoration: underline;
    background: none;
  }
}

#social-mobile a {
  float: left;
}

.social-desktop {
  margin-top: -5px;
  text-align: center;

  a {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.link {
  padding: 8px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Clan Offc Pro Medium';
  color: $black;

  &:hover,
  &:visited,
  &:focus,
  &:active {
    text-decoration: none !important;
    background: none !important;
    outline: none !important;
  }

  @media (min-width: $screen-sm-min) {
    padding: 10px;
  }

  @media (min-width: $screen-lg-min) {
    padding: 10px 21px;
  }
}

.ico-link {
  @media (min-width: $screen-sm-min) {
    padding: 0 10px;
  }

  visibility: hidden;
  display: none !important;
  .btn {
    padding: 10px 5px;
    margin: 7px 10px 0 0;
    display: inline-block;
    font-size: 12px;

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }

    @media (min-width: $screen-md-min) {
      padding: 10px 15px;
    }

    @media (min-width: $screen-lg-min) {
      padding: 10px 20px;
    }
  }
}

.social.social.social.social {
  padding: 10px 5px;
  float: left;
  color: #044264;

  @media (min-width: $screen-sm-min) {
    padding: 0 5px;
    float: none;
  }
}

.logo-container {
  margin: 2px 0 0 0;
  overflow: hidden;

  img {
    width: 195px;
  }
}
