.box.box {
  padding: 20px 0 20px 30px;
}

.box h5 {
  font-size: 18px;
}

.box h6 {
  font-size: 12px;
}

.box h5,
.box h6 {
  margin: 0;
  text-transform: none;
  color: $black;
}

.tooltip {
  text-align: left;
}

.media-left.media-left {
  padding-right: 30px;
}

.coin {
  position: relative;
  top: 8px;
  font-size: 40px;

  @media (min-width: $screen-sm-min) {
    top: 9px;
  }

  @media (min-width: $screen-md-min) {
    top: 11px;
  }
}
