.container {
    margin-bottom: 20px;
    display: flex;
    padding: 0 !important;

    a {
        flex: 1;
        border-style: solid;
        border-width: 2px;
        border-radius: 8px;
        padding: 6px;
        text-align: center;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
            margin: 0;
            color: $gray;
        }

        border-color: $light-gray;
        &.active {
            cursor: auto;
            border-color: $green;
            h3 {
                color: $green;   
            }
        }
    }

    .basic {
        margin-right: 5px;
        @media (max-width: $screen-md-min) {
            margin-left: 10px
        }
    }

    .pro {
        margin-left: 5px;
        @media (max-width: $screen-md-min) {
            margin-right: 10px
        }
    }
}