.coin-currency-dropdown {
  min-width: 250px;
  border-radius: 3px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
  position: absolute;
  right: 0;
  top: 32px;
  z-index: 500;
  background: #fff;

  .coins-list {
    max-height: 233px;
    padding: 0 15px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .coins-search {
    position: relative;
    border-bottom: 1px solid #dedede;
    padding: 0 15px;

    input {
      width: 200px;
      border: none;
      padding: 10px 0 10px 15px;
      font-size: 16px;
    }

    .clear {
      font-size: 18px;
      position: absolute;
      top: 11px;
      right: 10px;
      cursor: pointer;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .coin {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    i {
      font-size: 20px;
    }
  }
}
