.coin-currency-dropdown {
  border-radius: 3px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
  position: absolute;
  right: 0;
  top: 32px;
  padding: 10px 0 0 15px;
  z-index: 1;
  background: #fff;

  .coins-list {
    max-height: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .coins-search {
    margin-bottom: 10px;
  }

  .coin {
    width: 270px;
    margin-bottom: 10px;
    cursor: pointer;

    i {
      font-size: 20px;
    }
  }
}
