.selectedCoin {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #fff;

  i.fa-angle-down {
    position: relative;
    top: 2px;
    margin-left: 8px;
  }

  .coin-icon {
    position: relative;
    top: 1px;
    color: #fff;
  }

  span {
    position: relative;
    top: 2px;
    left: -10px;
  }
}
