#exchange-widget { background: rgba(0,0,0,.4); display: inline-block;width: 100%;color: #000;padding: 5px 5px 10px 5px; border-radius: 4px;
	.down-arrow {  width: 40px; height: 40px; background-size: contain; display: block; float: right; border: 1px solid red; }
	.form-group label.control-label { top: -30px; font-size: 16px; text-transform: capitalize; }
	input { 
		font-size: 18px; 
		font-weight: 400;
		background-image: linear-gradient(0deg, #fff 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #fff 1px, hsla(0, 0%, 82%, 0) 0);
		color: #fff;
		&.is-focused { background-image: linear-gradient(#337ab7, #337ab7), linear-gradient(#D2D2D2, #D2D2D2) !important; }
	}

	button.proceed { display: inline-block; width: 100%; margin-top: 20px; font-size: 16px; padding-left: 0; padding-right: 0; text-align: center;
		@media (min-width: $screen-sm-min) { width: 400px; font-size: 20px; }
	}

	@media (min-width: $screen-sm-min) { padding: 25px 25px 10px 25px; }
}

#fee-info { color: #fff; margin: 0; font-size: 14px; }