#faq {
	.modal-header { position: absolute; top: 0; right: 0; z-index: 1; }
	h3 { font-size: 30px; }
	p, li { font-size: 20px; }
	li { margin-bottom: 10px; line-height: 1.5em; }
	ul, ol { margin-bottom: 20px; }
}