body { color: $blue; }

p, a { word-wrap: break-word; }

p { font-size: 19px; line-height: 1.5em; }

h1 { font-size: 34px;
	@media (min-width: $screen-sm-min) { font-size: 46px; }
}

h3 { font-size: 26px;
	@media (min-width: $screen-sm-min) { font-size: 34px; }
}

a { color: $green; 
	&:hover, &:focus, &:visited { text-decoration: none; }
}

.header-text { font-size: 36px; }

img { max-width: 100%; }

.modal-title { margin-top: -10px; font-size: 30px; }
.modal-body {
	h3 { margin-top: 35px; }
	h3:first-child { margin-top: -8px; }
}
textarea.form-control:focus { outline: none; border-color: none; box-shadow: none; -webkit-box-shadow: none; }

.btn-themed {
	&, &:focus, &:visited {
		background: $blue;
		background: -moz-linear-gradient(to bottom, $blue 0, $green 100%);
		background: -webkit-linear-gradient(to bottom, $blue 0, $green 100%);
		background: linear-gradient(to bottom, $blue 0, $green 100%);
	}
}

.text-green { color: $green !important; }

@media (min-width: $screen-sm-min) {}
@media (min-width: $screen-md-min) {}
@media (min-width: $screen-lg-min) {}
