#header {
  min-height: 80px;
  background: #fff;

	@media (min-width: $screen-md-min) {
		ul li a { padding-left: 15px; }
		.navbar-nav { margin-top: 20px; }
		.logo-container {
			img { width: 50px; }
			h1 { margin: 11px 0 0 15px; font-size: 36px; }
		}
	}
	select { margin-top: 12px;
		background: #000;
		color:#fff;
	}
}
