#hero {
  position: relative;
  background-color: #082f4d;
  padding: 0 0 75px 0;
  background-image: url(../img/landscape.jpg);
  background-position: top left;
  background-size: cover;
  color: #fff;
  h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 26px;
  }
  .brand {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  @media (min-width: $screen-sm-min) {
    padding: 0 0 75px;
    .brand {
      padding-top: 40px;
    }
    .alert {
      position: absolute;
    }
    h2 {
      font-size: 34px;
    }
  }
}
