@import 'bootstrap/variables';

#order-status {
  padding: 0 40px;
  overflow: hidden;

  hr {
    margin-top: 5px;
  }

  .step {
    width: 100%;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: 10px;
      width: 33.33%;
      float: left;

      &:first-child {
        margin-top: 10px;
      }
    }

    svg {
      fill: #9c9c9c;
      width: 24px;
      margin-bottom: 6px;
    }

    h4 {
      margin: 0;
      background: #fff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      color: #adadad;
    }

    &.active h4,
    &.active svg {
      @include animation(color-change 1s infinite alternate);
    }

    &.done h4,
    &.done .glyphicon {
      color: $green;
    }
  }

  .progres-container {
    width: 100%;
    padding-top: 12px;
    clear: both;

    .progress .progress-bar.progress-bar-info {
      background: $green;
    }

    .progress.progress-line-info {
      background: rgba(44, 180, 160, 0.2);
    }

    .progress.progress-line-info {
      margin-bottom: 10px;
    }
  }
}
