$green: #2cc5bd;
$blue: #044264;
$black: #2b2b2b;
$gray: #9c9c9c;
$light-gray: #d8d8d8;
$red: #e25656;

$screen-lg-height: 800px;
$screen-xl-height: 950px;

$btn-box-shadow: 0 14px 26px -12px rgba(29, 182, 173, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(29, 182, 173, 0.2);
