@import 'variables';
@import 'mixins';

@import 'bootstrap';
@import 'material-kit';
@import 'react-id-swiper/react-id-swiper';

@import 'fonts';

@import 'cryptocoins';
@import 'cryptocoins-custom';

@import 'general';
@import 'faq';
@import 'support';
@import 'terms';
@import 'loader';
