@import 'variables';
@import 'mixins';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

#order {
  background: #f9f9f9;
  padding: 15px 0 0 0;

  .box {
    @media (min-width: $screen-sm-min) {
      margin-bottom: 24px;
    }

    .text-warning {
      color: $green;
    }
  }
}

.order-status-section {
  h2 {
    font-size: 24px;
  }

  @media (min-width: $screen-sm-min) {
    h2 {
      font-size: 30px;
    }
  }
}

#kyc-modal {
  .tooltip-inner {
    text-align: left !important;
  }
  h2 {
    margin-bottom: 0;
  }
  small {
    display: inline-block;
    margin-bottom: 10px;
  }
}

@import 'referral';
