@import "bootstrap/variables";

#order-fiat { display: inline-block; width: 100%;
	#order-payment { text-align: center;
		img { max-width: 200px; }

		@media (min-width: $screen-ms-min) { text-align: left; }
	}
}