@import "variables";
@import "mixins";
@import "bootstrap/variables";
@import "bootstrap/mixins";


#order { background: #f8f7f8; 
	#order-inner { padding: 15px 0 0 0; }
	a { color: $green; 
		&:visited, &:focus { text-decoration: none; }
		&:hover { text-decoration: underline; }
	}
	#order-ref { margin-bottom: 15px; }
	.box {
		@media (min-width: $screen-sm-min) { margin-bottom: 30px; }
		
		h4 { font-size: 15px; }
		h5, h6 { margin: 0; text-transform: none; }
		.coin-icon { position: relative; top: 8px; font-size: 28px; }
		.text-warning { color: $green; }		
	}
	.coin-box { padding-left: 10px;
		.tooltip-inner { text-align: left; }
	}
	#time-remaining { color: #2cb4a0; }

	@media (min-width: $screen-sm-min) {
		#order-inner { padding: 25px 0; }
		h5 { font-size: 15px; }
		h6 { font-size: 12px; }
		.box {
			h4 { font-size: 18px; }
			.coin-icon { top: 12px; }
		}
	}

	@media (min-width: $screen-md-min) {
		#order-innner { padding: 50px 0 0 0; }
		h5 { font-size: 17px; }
		h6 { font-size: 16px; }
		.box .coin-icon { top: 12px; }
	}
}

#order-payment { text-align: center; padding-top: 10px; overflow: hidden;
	h3, h4 { font-size: 20px;}
	#deposit-address { word-wrap: break-word; }
	img { margin-top: -15px; max-width: 150px;
		@media (min-width: $screen-sm-min) { margin-top: -7px; }
	}
	#order-payment-details { margin-top: 10px;
		h3 { margin-top: 0; }
		@media (min-width: $screen-sm-min) { margin-left: -15px; }
		@media (min-width: $screen-md-min) { margin-top: 10px; }
		@media (min-width: $screen-lg-min) { margin-top: 30px; }
	}
	.box { padding-bottom: 5px; }

	@media (min-width: $screen-sm-min) { text-align: left; padding-left: 13px;
		img { max-width: 100%; }
		h3 { font-size: 24px; }
	}
	@media (min-width: $screen-md-min) { padding-left: 50px; }
	@media (min-width: $screen-lg-min) { padding-left: 60px; }
}

#order-status { padding: 8px 0 5px 0; overflow: hidden;
	hr { margin-top: 5px; }
	.step { width: 100%; margin-top: 15px; text-align: center;
		h4 { margin: 0; background: #fff; text-transform: uppercase; font-size: 15px; font-weight: 500; color: #adadad; }
		.glyphicon { font-size: 30px; color: #adadad; }
		&.active h4, &.active .glyphicon {
			@include animation(color-change 1s infinite alternate);
		}
		&.done h4, &.done .glyphicon { color: $green; }

		@media (min-width: $screen-sm-min) { width: 33.33%; float: left; }
	}
	.progres-container { width: 100%; padding-top: 25px; clear: both;
		.progress .progress-bar.progress-bar-info { background: $green; }
		.progress.progress-line-info { background: rgba(44, 180, 160, 0.2); }
		.progress.progress-line-info { margin-bottom: 5px; }

		@media (min-width: $screen-md-min) { padding: 25px 0 0; }
	}
}

#order-header {
	#bookmark-button { font-size: 20px; padding: 0; margin-top: 0; color: $green; }

	@media (min-width: $screen-sm-min) {
		h3 { float: left; }
		#bookmark-button { float: right; margin-top: 22px; }
	}
}

#bookmark {
	.bookmark-text{ font-size: 19px; }
	.input-group-addon { cursor: pointer; padding-top: 0;
		i { font-size: 18px; }
	}
	.form-group { margin-top: 10px; }
	input { font-size: 18px; }
}

.order-status-section {
	h2 { font-size: 24px; }

	@media (min-width: $screen-sm-min) {
		h2 { font-size: 30px; }
	}
}

#share-referral { text-align: center;
	.box { padding: 20px; }
	.share { margin-top: 15px; }
	.fa { font-size: 45px; margin: 0 15px 0 0; color: #d6d6d6; }
	h2 { margin-top: 0; font-size: 22px;
		@media (min-width: $screen-sm-min) { font-size: 26px; }
		@media (min-width: $screen-md-min) { font-size: 34px; }
	}
}

@include keyframes(color-change) {
	from { color: #adadad; }
	to { color: #fbc02d; } 
}
