.container {
    margin-top: 15px;
    max-height: 400px;
    border: 1px solid $gray;
    padding: 0 !important;

    .heading {
        text-align: center;
        padding: 8px 0px;
        background-color: lighten( $gray, 30);
        h4 {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
        }
    }

    .header {
        display: flex;
        height: 40px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        span{
            flex: 1;
        }
    }

    .separator {
        height: 1px;
        margin: 5px 0px;
        background-color: $gray;
    }
}