.selected-coin {
  position: absolute;
  top: 13px;
  left: 0;
  padding: 11px 25px 13px 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: $black;

  @media (min-width: $screen-md-min) {
    top: 35px;
  }
}

.carret {
  display: inline-block;
  position: relative;
  top: -4px;
  left: 8px;
  width: 8px;
  height: 5px;
  background-image: url('Img/carret-down.svg');
  background-repeat: no-repeat;
}

.coin-icon.coin-icon {
  position: relative;
  top: 1px;
  margin-right: 12px;
  font-size: 24px;
}

.order-book {
  position: relative !important;
  top: 0 !important;
}
