.icon {
  color: $gray;
  @media (max-width: $screen-sm-min) {
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  @media (min-width: $screen-sm-min) {
    margin-top: 50px;
  }
}
