.whitelabel {
  position: relative;
  padding: 100px 0 75px 0;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    45deg,
    rgba(2, 3, 31, 1) 0%,
    rgba(2, 3, 31, 1) 44%,
    rgba(26, 157, 139, 1) 100%
  );

  @media (min-height: $screen-lg-height) and (min-width: $screen-md-min) {
    min-height: 100vh;
  }

  @media (min-width: $screen-md-min) {
    background-color: #01031e;
    background-image: url('../../img/ellipse.svg');
    background-position: -135vh -93vh;
    background-size: 150%;
    background-repeat: no-repeat;
  }

  h1 {
    margin-bottom: 10px !important;
    margin-top: 15px;

    @media (min-width: $screen-md-min) {
      margin-bottom: 15px !important;
    }
  }

}