.btn.btn.btn {
  color: $green;
  background-color: #fff;
  border: 1px solid $green;
  padding: 6px 10px;
  margin: 10px;
  font-size: 12px;
  width: 100%;
  max-width: 280px;
  white-space: normal;

  &:hover {
    box-shadow: none;
  }
}
